<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Flaskテスト{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <header class="header">
        <h1 class="site-title"><a href="{{ url_for('app.index') }}" class="white-link">TYPING</a></h1>
        <nav class="gnav">
            <ul class="nav__menu">
                {% if current_user.is_authenticated %}
                <li class="nav__menu__item"><a href="{{ url_for('app.books') }}" class="white-link"><i class="fas fa-book"></i> 単語ブック</a></li>
                <li class="nav__menu__item"><a href="{{ url_for('app.logout') }}" class="white-link"><i class="fas fa-sign-out-alt"></i> ログアウト</a></li>
                {% else %}
                <li class="nav__menu__item"><a id="login-open"><i class="fas fa-sign-in-alt"></i> ログイン</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    {% if not current_user.is_authenticated %}
    <div id="login-mask" class="hidden"></div>
    <section id="login-modal" class="hidden">
        <div id="login-modal__close__btn">
            <a id="login-close" class="close-btn"><i class="fas fa-times"></i></a>
        </div>
        <div id="login-modal__header">
            <h3 id="login-modal__title" class="text-center">ログイン</h3>
        </div>
        <div id="login-modal__body">
            <form id="login-form">
                {{ login_form.csrf_token }}
                {{ login_form.email() }}
                {{ login_form.password() }}
                {{ login_form.confirm_password() }}
                {{ login_form.submit(class="app-btn submit-btn") }}
            </form>
            <a id="login-register" class="register-btn submit-btn" href="#">新規登録</a>
        </div>
    </section>
    <section id="register-modal" class="hidden">
        <div id="register-modal__close__btn">
            <a id="register-close" class="close-btn"><i class="fas fa-times"></i></a>
        </div>
        <div id="register-modal__header">
            <h3 id="register-modal__title" class="text-center">新規登録</h3>
        </div>
        <div id="register-modal__body">
            <form id="register-form">
                {{ register_form.csrf_token }}
                {{ register_form.username() }}
                {{ register_form.email() }}
                {{ register_form.submit(class="app-btn submit-btn") }}
            </form>
        </div>
    </section>
    <section id="result-modal" class="hidden">
        <div id="result-modal__close__btn">
            <a id="result-close" class="close-btn"><i class="fas fa-times"></i></a>
        </div>
        <div id="result-modal__header">
            <h3 id="result-modal__title" class="text-center"></h3>
        </div>
        <div id="result-modal__body">
        </div>
    </section>
    <script src="{{ url_for('static', filename='js/login_modal/main.js') }}"></script>
    {% endif %}
    <script src="https://kit.fontawesome.com/a2060b8d07.js" crossorigin="anonymous"></script>
</body>
</html>