<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Flaskテスト{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <header class="header">
        <h1 class="header-title"><a href="{{ url_for('app.index') }}" class="white-link">TYPING</a></h1>
        <nav class="header-nav">
            <ul class="header-nav-menu">
                {% if current_user.is_authenticated %}
                <li class="header-nav-menu-item"><a href="{{ url_for('app.books') }}" class="white-link"><i class="fas fa-book"></i> 単語ブック</a></li>
                <li class="header-nav-menu-item"><a href="{{ url_for('app.logout') }}" class="white-link"><i class="fas fa-sign-out-alt"></i> ログアウト</a></li>
                {% else %}
                <li class="header-nav-menu-item"><a id="login-open"><i class="fas fa-sign-in-alt"></i> ログイン</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    {% if not current_user.is_authenticated %}
    <div id="login-mask" class="hidden"></div>
    <section id="login-modal" class="hidden">
        <div class="loginModal-btn">
            <a id="login-close" class="close-btn modalCloseBtn"><i class="fas fa-times"></i></a>
        </div>
        <div class="loginModal-header">
            <h3>ログイン</h3>
        </div>
        <div class="loginModal-body">
            <form id="login-form" class="flexColumnForm">
                {{ login_form.csrf_token }}
                {{ login_form.email(class="l-input") }}
                {{ login_form.password(class="l-input") }}
                {{ login_form.submit(class="app-btn l-submit") }}
            </form>
            <a id="login-register" class="register-btn l-submit" href="#">新規登録</a>
        </div>
    </section>
    <section id="register-modal" class="hidden">
        <div class="registerModal-btn">
            <a id="register-close" class="close-btn modalCloseBtn"><i class="fas fa-times"></i></a>
        </div>
        <div class="registerModal-header">
            <h3>新規登録</h3>
        </div>
        <div class="registerModal-body">
            <form id="register-form" class="flexColumnForm">
                {{ register_form.csrf_token }}
                {{ register_form.username(class="l-input") }}
                {{ register_form.email(class="l-input") }}
                {{ register_form.submit(class="app-btn l-submit") }}
            </form>
        </div>
    </section>
    <section id="result-modal" class="hidden">
        <div class="resultModal-btn">
            <a id="result-close" class="close-btn modalCloseBtn"><i class="fas fa-times"></i></a>
        </div>
        <div class="resultModal-header">
            <h3></h3>
        </div>
        <div id="resultModal-body" class="resultModal-body">
        </div>
    </section>
    <script src="{{ url_for('static', filename='js/login_modal/main.js') }}"></script>
    {% endif %}
    <script src="https://kit.fontawesome.com/a2060b8d07.js" crossorigin="anonymous"></script>
</body>
</html>