{% extends "base.html" %}
{% block title %}
ブック一覧 - {{ super() }}
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/books.css') }}">
<div class="title">
    <h1>あなたの単語ブック</h1>
</div>
<div class="card__wrapper">
    <div class="card">
        <div class="card__form">
            <form method="POST">
                {{ form.csrf_token }}
                {{ form.name() }}
                {{ form.description() }}
                {{ form.submit() }}
            </form>
        </div>
    </div>
    {% if books %}
    {% for book in books %}
    <div class="card">
        <div class="card__header">
            <div class="card__option__btn">
                <a class="option-btn" onclick="changeOnclickFunction('{{ book.id }}')"><i class="fa fa-cog"></i></a>
            </div>
            <ul class="card__nav">
                <li class="card__nav__item">
                    <a href="/game/{{ book.id }}" class="nav-link active">タイピング</a>
                </li>
                <li class="card__nav__item">
                    <a href="/score/{{ book.id }}" class="nav-link">スコア</a>
                </li>
                <li class="card__nav__item">
                    <a href="/words/{{ book.id }}" class="nav-link">編集</a>
                </li>
            </ul>
        </div>
        <div class="card__body">
            <h3 class="card__title">{{ book.name }}</h4>
            <p class="card__text">{{ book.description }}</p>
        </div>
        <div class="card__footer">
            <small class="text__muted">更新日:{{ book.update_at.strftime('%Y-%m-%d') }}</small>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
<div id="mask" class="hidden"></div>
<section id="modal" class="hidden">
    <div class="modal__close__btn">
        <a id="close" class="close-btn"><i class="fas fa-times"></i></a>
    </div>
    <div id="modal__body">
        <p>タイピングモードを変更しますか？</p>
        <table>
            <tr>
                <th><a id="mode_eazy" class="s-btn app-btn" href="#">Eazy <i class="fas fa-chevron-circle-right"></i></a></th>
                <td>常に文字が表示されます。</td>
            </tr>
            <tr>
                <th><a id="mode_normal" class="s-btn app-btn" href="#">Normal <i class="fas fa-chevron-circle-right"></i></a></th>
                <td>タイプ成功時に文字が表示されます。</td>
            </tr>
            <tr>
                <th><a id="mode_hard" class="s-btn app-btn" href="#">Hard <i class="fas fa-chevron-circle-right"></i></a></th>
                <td>タイプ成功時に文字が表示され<br>失敗した場合、次の単語に移動します。</td>
            </tr>
        </table>
    </div>
</section>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/books/main.js') }}"></script>
{% endblock %}