{% extends "base.html" %}
{% block title %}
ブック一覧 - {{ super() }}
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/books.css') }}">
<div class="content-title">
    <h1>あなたの単語ブック</h1>
</div>
<div class="content-wrapper">
    <div class="card">
        <div class="card-form">
            <form method="POST" class="flexColumnForm">
                {{ form.csrf_token }}
                {{ form.name(class="s-input") }}
                {{ form.description(class="s-input") }}
                {{ form.submit(class="app-btn s-submit") }}
            </form>
        </div>
    </div>
    {% if books %}
    {% for book in books %}
    <div class="card">
        <div class="card-header">
            <div class="card-header-btn">
                <a class="option-btn" onclick="changeOnclickFunction('{{ book.id }}')"><i class="fa fa-cog"></i></a>
            </div>
            <ul class="card-header-nav">
                <li class="card-header-nav-item">
                    {% if words_count[book.id] %}
                    <a href="/game/{{ book.id }}" class="red-link">タイピング</a>
                    {% else %}
                    <a href="#" class="grey-link eventDisable">タイピング</a>
                    {% endif %}
                </li>
                <li class="card-header-nav-item">
                    <a href="/score/{{ book.id }}" class="red-link">スコア</a>
                </li>
                <li class="card-header-nav-item">
                    <a href="/words/{{ book.id }}" class="red-link">編集</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <h3>{{ book.name }}</h4>
            <p>{{ book.description }}</p>
        </div>
        <div class="card-footer">
            <small>更新日:{{ book.update_at.strftime('%Y-%m-%d') }}</small>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
<div id="mask" class="hidden"></div>
<section id="modal" class="hidden">
    <div class="modal-btn">
        <a id="close" class="close-btn modalCloseBtn"><i class="fas fa-times"></i></a>
    </div>
    <div class="modal-body">
        <p>タイピングモードを変更しますか？</p>
        <table>
            <tr>
                <th><a id="mode_eazy" class="s-btn app-btn" href="#">Eazy <i class="fas fa-chevron-circle-right"></i></a></th>
                <td>常に文字が表示されます。</td>
            </tr>
            <tr>
                <th><a id="mode_normal" class="s-btn app-btn" href="#">Normal <i class="fas fa-chevron-circle-right"></i></a></th>
                <td>タイプ成功時に文字が表示されます。</td>
            </tr>
            <tr>
                <th><a id="mode_hard" class="s-btn app-btn" href="#">Hard <i class="fas fa-chevron-circle-right"></i></a></th>
                <td>タイプ成功時に文字が表示され<br>失敗した場合、次の単語に移動します。</td>
            </tr>
        </table>
    </div>
</section>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/books/main.js') }}"></script>
{% endblock %}