{% extends "base.html" %}
{% block title %}
ゲーム - {{ super() }}
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
<h1 id=comment></h1>
<p id="text"></p>
<div id="score">
    <div>
        <span>正解: </span><span id="success"></p>
    </div>
    <div>
        <span>失敗: </span><span id="failed"></p>
    </div>
</div>
<div id="result">
</div>
<script>
    // ワードの取得、外部読み込みのjs内で受けとった変数を使えるようにこの場所で宣言。
    var words = {{ words | tojson }};
</script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/game/game.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/game/main.js') }}"></script>
{% endblock %}