{% extends "base.html" %}
{% block title %}
スコア - {{ super() }}
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/score.css') }}">
<div class="content-title">
    <h1>今まで間違えてる回数</h1>
</div>
<div class="content-wrapper">
    <div class="score-body">
        <div class="score-body-btn">
            <a id="back" class="back-btn" href="/books"><i class="fas fa-arrow-left"></i></a>
            <a id="open" class="delete-btn"><i class="fas fa-trash-alt"></i></a>
        </div>
        <div class="score-body-title">
            <div>
                <h1>{{ book.name }}</h1>
                <p>{{ book.description }}</p>
            </div>
        </div>
        <dl class="score-body-head">
            <dt>単語</dt>
            <dd>意味</dd>
            <dd>ミス</dd>
        </dl>
        {% for score in scores %}
        <dl class="score-body-row">
            <dt>{{ score.Word.text }}</dt>
            <dd>{{ score.Word.comment }}</dd>
            <dd>{{ score.typemiss_count }}</dd>
        </dl>
        {% endfor %}
    </div>
</div>
<div id="mask" class="hidden"></div>
<section id="modal" class="hidden">
    <div class="modal-btn">
        <a id="close" class="close-btn"><i class="fas fa-times"></i></a>
    </div>
    <div class="modal-body">
        {% if scores %}
        <p>{{ book.name }} のスコアを削除しますか？</p>
        <div id="modal-body-btn">
            <a id="delete" class="m-btn app-btn" href='/delete_score/{{ book.id }}'>はい</a>
            <a id="no" class="m-btn deny-btn">いいえ</a>
        </div>
        {% else %}
        <p>現在、スコアが存在しません。</p>
        {% endif %}
    </div>
</section>
<script src="{{ url_for('static', filename='js/modal/main.js') }}"></script>
{% endblock %}