<div>
    <ul class="list-group">
        <div class="card-body">
            <p>ユーザ名: {{ current_user.username }}</p>
            <!-- <p>メールアドレス: {{ current_user.email }}</p> -->
            <p>自己紹介: {{ current_user.description }}</p>
        </div>
        <li class="list-group-item">
            <a href="{{ url_for('app.index') }}">ホーム</a>
        </li>
        <li class="list-group-item">
            <a href="{{ url_for('app.books') }}">単語ブック</a>
        </li>
        <li class="list-group-item">
            <a href="{{ url_for('app.logout') }}">ログアウト</a>
        </li>
        <li class="list-group-item">
            <a href="{{ url_for('app.account') }}">設定</a>
        </li>
    </ul>
</div>