{% extends "base.html" %}
{% block title %}
単語登録 - {{ super() }}
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/words.css') }}">
<script>
    var bookId = {{ book.id }};
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/words/main.js') }}"></script>
<div class="word__wrapper">
    <div class="word__title">
        <div>
            <h1>{{ book.name }}</h1>
            <p>{{ book.description }}</p>
        </div>
    </div>
    <div class="word__form">
        <form method="POST">
            {{ form.csrf_token }}
            {{ form.text() }}
            {{ form.comment() }}
            <div class="word__form__btn">
                {{ form.submit() }}
                <button onclick="location.href='/delete_book/{{ book.id }}'">ブックの削除</a>
            </div>
        </form>
    </div>
    <div class="word__table">
        <dl class="word__table__head">
            <dt>
                <span>単語</span>
            </dt>
            <dd>
                <span>意味</span>
            </dd>
        </dl>
        {% if words %}
        {% for word in words %}
        <dl class="word__table__row">
            <dt id="text-{{ word.id }}">
                <span>{{ word.text }}</span>
            </dt>
            <dd id="comment-{{ word.id }}">
                <span>{{ word.comment }}</span>
            </dd>
            <dd id="btn-{{ word.id }}">
                <button class="upd-btn" onclick="update('{{ word.id }}')">編集</button>
            </dd>
            <dd>
                <button class="dlt-btn" onclick="location.href='/delete_word/{{ word.book_id }}/{{ word.id }}'">削除</button>
            </dd>
        </dl>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}