.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}

.card {
    background: #2a3644;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgb(87, 87, 87);
    width: 320px;
    height: 164px;
    margin-bottom: 20px;
    text-align: center;
}

.card-header-btn{
    position: relative;
    width: 100%;
}

.card-header-btn i{
    position: absolute;
    top: 10px;
    right: 10px;
}

.card-header {
    height: 50px;
}

.card-form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.card-form form {
    display: flex;
    flex-direction: column;
}

.card-form form input[type="text"] {
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    margin-bottom: 10px;
    outline: none;
    border: 0;
    font-size: 16px;
    border-radius: 5px;
    height: 24px;
}

.card-form form input[type="text"]::placeholder {
    padding-left: 8px;
}

.card-form form input[type="submit"] {
    border: 0;
    background: #f26964;
    border-radius: 5px;
    padding: 5px 10px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s;
}

.card-form form input[type="submit"]:hover {
    background: #ff4b4b;
    transition: 0.5s;
}

.card-header-nav {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

.card-header-nav-item {
    margin-right: 32px;
}

.card-header-nav-item a {
    font-size: 16px;
    font-weight: bold;
}


.card-body h3 {
    color: #fff;
    margin-top: 0;
}

.card-body p {
    color: #fff;
}

.card-footer {
    background: slategray;
    width: 100%;
    color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.modal-btn{
    position: relative;
    width: 100%;
}

.modal-btn a{
    position: absolute;
    top: 16px;
    right: 16px;
}
