.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}

.card {
    display: flex;
    flex-direction: column;
    background: #2a3644;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgb(87, 87, 87);
    width: 320px;
    height: 164px;
    margin-bottom: 20px;
    text-align: center;
}

.card-header-btn{
    position: relative;
    width: 100%;
}

.card-header-btn i{
    position: absolute;
    top: 10px;
    right: 10px;
}

.card-header {
    height: 50px;
}

.card-form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.card-header-nav {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin: 0;
    padding: 6px 0;
}

.card-header-nav-item {
    margin-right: 32px;
}

.card-header-nav-item a {
    font-size: 16px;
    font-weight: bold;
}


.card-body {
    height: 100%;
}

.card-body h3 {
    color: #fff;
    margin: 0 0 8px 0;
}

.card-body p {
    color: #fff;
    margin: 0;
}

.card-footer {
    position: relative;
    bottom: 0;
    background: slategray;
    width: 100%;
    color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}