.game__wrapper {
    width: 100%;
    margin: auto;
}

.game__display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #2a3644;
    border-radius: 10px;
    padding: 20px 40px;
}

.game__display #comment {
    font-weight: bold;
    text-align: center;
    color: #fff;
}

.game__display #text {
    font-size: 4em;
    font-weight: bold;
    color: #2a3644;
    text-align: center;
    margin-top: 0;
}
.game__display #score {
    text-align: center;
    color: #fff;
}
.game__display span {
    transition: all 300ms 0s ease;
}
.game__display .add-blue {
    font-size: 0.5em;
    color: #f26964;
}

.game__display #result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.result__table {
    background: #2a3644;
    border: 0;
    width: 100%;
}

.result__table dl {
    display: flex;
}

.result__table__head {
    color: #f26964;
}

.result__table dl dt,
.result__table dl dd {
    padding: 5px 15px;
    width: 45%;
}

.result__table dl dd:nth-child(3) {
    width: 10%;
}

.result__table__row {
    color: #fff;
}

.result__links {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#replay-btn::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f2ea';
    margin-right: 8px;
}

#scores-btn::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f5c0';
    margin-right: 8px;
}

#back-btn::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f02d';
    margin-right: 8px;
}
