#mask {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

#modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    z-index: 21;
    transition: 0.4s;
}

#modal__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: #2a3644;
    color: #fff;
    width: 480px;
    padding: 20px 40px;
    border-radius: 10px;
}

#mask.hidden {
    display: none;
}

#modal.hidden {
    transform: translate(-50%, -800px);
}

#modal__btn {
    display: flex;
    justify-content: space-between;
}

#modal__btn a {
    width: 100px;
}

#modal #close {
    display: block;
    position: absolute;
    top: 16px;
    right: 16px;
}

/* books.html */
#modal__body th {
    vertical-align: middle;
}

#modal__body a {
    display: block;
    width: 100px;
}

#modal__body td {
    text-align: left;
    height: 50px;
}

/* login */
#login-mask {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

#result-modal,
#register-modal,
#login-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    z-index: 21;
    transition: 0.4s;
    background: #2a3644;
    color: #fff;
    width: 480px;
    border-radius: 10px;
    text-align: center;
}


#result-modal__body,
#register-modal__body,
#login-modal__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px 20px 40px;
}

#login-mask.hidden {
    display: none;
}

#result-modal.hidden,
#register-modal.hidden,
#login-modal.hidden {
    transform: translate(-50%, -800px);
}

#result-modal #result-close,
#register-modal #register-close,
#login-modal #login-close {
    display: block;
    position: absolute;
    top: 16px;
    right: 16px;
}

#register-modal__body form,
#login-modal__body form{
    display: flex;
    flex-direction: column;
}

#register-modal__body input,
#login-modal__body input {
    border-radius: 5px;
    border: 0;
    font-size: 16px;
    margin: 2.5px;
}

#register-modal__body input:-webkit-autofill,
#login-modal__body input:-webkit-autofill {
    box-shadow: 0 0 0 1000px rgba(42, 54, 68, 0.2) inset;
}

#register-modal__body input[type="text"],
#register-modal__body input[type="password"],
#login-modal__body input[type="text"],
#login-modal__body input[type="password"] {
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    text-indent: 1em;
    outline: none;
    width: 100%;
    padding: 15px 0;
}

#register-modal__body input[type="submit"],
#login-modal__body input[type="submit"] {
    background: #f26964;
    color: #fff;
    width: 100%;
    padding: 15px 0;
    margin-bottom: 16px;
    cursor: pointer;
}

#result-modal__body a,
#register-modal__body a,
#login-modal__body a {
    text-decoration: none;
    color: #fff;
}