.reset-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.reset-body {
    display: flex;
    flex-direction: column;
    background: #2a3644;
    border-radius: 10px;
    border: 0;
    padding: 40px;
    box-shadow: 0 2px 5px rgb(87, 87, 87);
}

.reset-body-title {
    text-align: center;
}

.reset-body-title h1 {
    color: #f26964;
}

.reset-body-title p {
    color: #fff;
}

.reset-body-form {
    background: #2a3644;
    padding: 20px 40px 40px 40px;
}
