.reset-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.reset-body {
    display: flex;
    flex-direction: column;
    background: #2a3644;
    border-radius: 10px;
    border: 0;
    padding: 40px;
    box-shadow: 0 2px 5px rgb(87, 87, 87);
}

.reset-body-title {
    text-align: center;
}

.reset-body-title h1 {
    color: #f26964;
}

.reset-body-title p {
    color: #fff;
}

.reset-body-form {
    background: #2a3644;
    padding: 20px 40px 40px 40px;
}

.reset-body-form form {
    display: flex;
    flex-direction: column;
}

.reset-body-form-input {
    width: 100%;
}

.reset-body-form [type="password"] {
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 20px;
    height: 40px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 0;
    text-indent: 1em;
    margin-bottom: 8px;
    padding: 0;
}

.reset-body-form [type="submit"] {
    width: 100%;
}

.reset-body-form-btn {
    display: flex;
    justify-content: flex-end;
}