.score__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.score__btn {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.score__title {
    display: flex;
    justify-content:flex-start;
}

.score__title h1 {
    color: #f26964;
}

.score__title p {
    color: #fff;
}

.score__table {
    background: #2a3644;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgb(87, 87, 87);
    border: 0;
}

.score__table dl {
    display: flex;
}

.score__table dl dt,
.score__table dl dd {
    width: 45%;
    display: flex;
    align-items: center;
}

.score__table dl dd:nth-child(3) {
    width: 10%;
}

.score__table__head {
    color: #f26964;
}

.score__table__row {
    color: #fff;
}
