.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.score-body-btn {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.score-body-title {
    display: flex;
    justify-content:flex-start;
}

.score-body-title h1 {
    color: #f26964;
}

.score-body-title p {
    color: #fff;
}

.score-body {
    background: #2a3644;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgb(87, 87, 87);
    border: 0;
}

.score-body dl {
    display: flex;
}

.score-body dl dt,
.score-body dl dd {
    width: 45%;
    display: flex;
    align-items: center;
}

.score-body dl dd:nth-child(3) {
    width: 10%;
}

.score-body-head {
    color: #f26964;
}

.score-body-row {
    color: #fff;
}
