html,body{
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

li {
    list-style: none;
}

.header {
    background: #2a3644;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 20px;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.header-nav-menu {
    display: flex;
}

.header-nav-menu-item {
    margin-right: 40px;
}

.content {
    line-height: 1.6;
    margin: 0 auto;
    padding-top: 160px;
    width: 660px;
}

.content-title h1 {
    color: #2a3644;
    text-align: center;
}

.s-btn {
    text-align: center;
    font-size: 1em;
    width: 80px;
    border-radius: 5px;
    padding: 5px 10px;
    border: 0;
    cursor: pointer;
}

.m-btn {
    text-align: center;
    padding: 15px;
    font-size: 16px;
    width: 120px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.l-btn {
    text-align: center;
    width: 160px;
    font-size: 24px;
    padding: 15px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}


.app-btn {
    background: #f26964;
    color: #fff;
    transition: 0.5s;
}

.deny-btn {
    background: grey;
    color: #fff;
    transition: 0.5s;
}

.deny-btn:hover {
    background: rgb(100, 100, 100);
    transition: 0.5s;
}

.app-btn:hover {
    background: #ff4b4b;
    transition: 0.5s;
}

.close-btn {
    background: none;
    color: grey;
    font-size: 25px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
}

.close-btn:hover {
    color: rgb(100, 100, 100);
    transition: 0.5s;
}

.delete-btn {
    background: none;
    color: grey;
    font-size: 25px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
}

.delete-btn:hover {
    color: rgb(100, 100, 100);
    transition: 0.5s;
}

.back-btn {
    background: none;
    color: #f26964;
    font-size: 25px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
}

.back-btn:hover {
    color: #ff4b4b;
    transition: 0.5s;
}

.option-btn {
    color: grey;
    cursor: pointer;
    font-weight: bold;
    font-size: 24px;
    transition: 0.5s;
}

.option-btn:hover {
    color: rgb(100, 100, 100);
    transition: 0.5s;
}

.register-btn {
    background: royalblue;
    color: #fff;
    transition: 0.5s;
}

.register-btn:hover {
    background: rgb(40, 80, 200);
    transition: 0.5s;
}


.white-link {
    color: #fff;
    transition: 0.5s;
}

.white-link:hover {
    color: rgb(230, 230, 230);
    transition: 0.5s;
}

.red-link {
    color: #f26964;
    transition: 0.5s;
}

.red-link:hover {
    color: #ff4b4b;
    transition: 0.5s;
}

.s-input {
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    text-indent: 1em;
    margin-bottom: 10px;
    outline: none;
    border: 0;
    font-size: 16px;
    border-radius: 5px;
    height: 24px;
}

.l-input {
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    text-indent: 1em;
    outline: none;
    width: 100%;
    padding: 15px 0;
    border-radius: 5px;
    border: 0;
    font-size: 24px;
    margin-bottom: 3px;
}

.s-submit {
    width: 100%;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    margin-bottom: 3px;
}

.l-submit {
    width: 100%;
    border-radius: 5px;
    border: 0;
    padding: 15px 0;
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 3px;
}

.flexColumnForm {
    display: flex;
    flex-direction: column;
}

.lt-btn {
    display: block;
    position: absolute;
    top: 16px;
    left: 16px;
}

.rt-btn {
    display: block;
    position: absolute;
    top: 16px;
    right: 16px;
}