html,body{
    background-size: cover;
    background-repeat: no-repeat;
    caret-color: transparent;
}


.site-header {
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    position: fixed;
    width: 100%;
}

.site-logo img{
    height: 20px;
    width: auto;
}

.gnav__menu {
    display: flex;
}

.gnav__menu__item {
    margin-right: 40px;
}

.gnav__menu li{
    list-style: none;
}

.gnav__menu__item a {
    color: #333;
    text-decoration: none;
}

.content {
    line-height: 1.6;
    margin: 0 auto;
    padding-top: 160px;
    width: 800px;
}

.card__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px #ccc;
    width: 320px;
    margin-top: 20px;
    margin-right: 40px;
    text-align: center;
}

.card__header {
    height: 50px;
}

.card__header input {
    border: 0;
    background: #fff;
    color: teal;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.card__nav {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}

.card__nav__item {
    margin-right: 40px;
}

.card__nav__item a {
    color: teal;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.card__body input {
    caret-color: black;
}

.card__footer {
    background: slategray;
    width: 100%;
    color: #fff;
}



.word__title {
    display: flex;
    justify-content: space-between;
}

.score__table dl,
.word__form dl,
.word__table dl {
    display: flex;
}

.score__table dl dt,
.score__table dl dd,
.word__form dl dt,
.word__form dl dd,
.word__table dl dt,
.word__table dl dd {
    width: 160px;
}

.word__form dl dd:nth-child(3),
.word__table dl dd:nth-child(3),
.word__table dl dd:nth-child(4) {
    width: 48px;
}