html,body{
    background-size: cover;
    background-repeat: no-repeat;
    caret-color: transparent;
    margin: 0;
    padding: 0;
}


.site-header {
    background: #2a3644;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 20px;
    position: fixed;
    width: 100%;
}

.site-logo img{
    height: 20px;
    width: auto;
}

.gnav__menu {
    display: flex;
}

.gnav__menu__item {
    margin-right: 40px;
}

.gnav__menu li{
    list-style: none;
}

.gnav__menu__item a {
    color: #fff;
    text-decoration: none;
}

.content {
    line-height: 1.6;
    margin: 0 auto;
    padding-top: 160px;
    width: 800px;
}