.word__wrapper {
    display: flex;
    flex-direction: column;
    background: #2a3644;
    border-radius: 5px;
    border: 0;
    padding: 40px;
}

.word__delete__btn{
    position: relative;
    width: 100%;
}

.word__delete__btn button{
    position: absolute;
    background: grey;
    right: 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    border: 0;
    padding: 10px 15px;
}

.word__title {
    display: flex;
    justify-content:flex-start;
    background: #2a3644;
}

.word__title h1 {
    color: #f26964;
}

.word__title p {
    color: #fff;
}

.word__form {
    background: #2a3644;
    padding: 40px;
}

.word__form form {
    display: flex;
    flex-direction: column;
}

.word__form__input {
    width: 100%;
}


.word__form [type="text"] {
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 20px;
    height: 40px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 0;
    margin-bottom: 8px;
}

.word__form [type="text"]::placeholder {
    padding: 16px;
}

.word__form__btn {
    display: flex;
    justify-content: flex-end;
}

.word__form__btn [type="submit"] {
    background: #f26964;
    width: 120px;
    font-size: 24px;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

.word__form dl,
.word__table dl {
    display: flex;
}

.word__form dl dt,
.word__form dl dd {
    width: 160px;
}

.word__table dl dt,
.word__table dl dd {
    padding: 5 15px;
    height: 50px;
    width: 250px;
    display: flex;
    align-items: center;
}

.word__form dl dd:nth-child(3),
.word__table dl dd:nth-child(3) {
    width: 48px;
}

.word__table {
    background: #2a3644;
}

.word__table__head span {
    color: #f26964;
}

.word__table__row span {
    color: #fff;
}

.word__table__row .dlt-btn {
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    border: 0;
    cursor: pointer;
}

.word__table__row .dlt-btn {
    background: grey;
}

#mask {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

#modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: #2a3644;
    color: #fff;
    width: 300px;
    padding: 40px;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    z-index: 2;
    transition: 0.4s;
}

#mask.hidden {
    display: none;
}

#modal.hidden {
    transform: translate(-50%, -800px);
}

#modal__btn {
    display: flex;
    justify-content: space-between;
}

#delete,
#close {
    background: #f26964;
    border-radius: 5px;
    border: 0;
    width: 120px;
    color: #fff;
    font-size: 24px;
    padding: 5px 15px;
    cursor: pointer;
}